In [18]:
import pandas as pd
import psycopg2
import datetime
import time
import numpy as np

stock_info = pd.read_csv("stock_info.csv")

In [3]:
def dbloader(stock, year=2000):
    DATABASE_URL = "postgresql://overcat:overmind@localhost:5432/stocks"
    
    conn = psycopg2.connect(DATABASE_URL)
    cur = conn.cursor()
    
    date_time = datetime.datetime(year, 1, 1, 5, 30)
    limit_stamp = int(time.mktime(date_time.timetuple()))
    
    cur.execute(f"SELECT * FROM {stock} WHERE timestamp > {limit_stamp} ")
    
    rows = cur.fetchall()

    return rows

def to_mat(rows):
    rows = sorted(rows, key=lambda row: row[0])
    window = [row[0: 6] for row in rows]
    window = np.array(window)
    Time = window[:, 0]
    Open = window[:, 1]
    High = window[:, 3]
    Low = window[:, 4]
    Close = window[:, 2]
    Volume = window[:, 5]
    mat = np.vstack((Open, High, Low, Close, Time, Volume))
    return mat

In [7]:
def connect(query):
    DATABASE_URL = "postgresql://overcat:overmind@localhost:5432/stocks"
    
    conn = psycopg2.connect(DATABASE_URL)
    cur = conn.cursor()

    cur.execute(query)

    rows = cur.fetchall()
    
    return rows

In [34]:
query = """SELECT table_name 
FROM information_schema.tables 
WHERE table_schema = 'public';
"""


rows = connect(query)

security = [row[0].upper() + ".N0000" for row in rows]
stock_info[stock_info.security.isin(security)][["company_name", "security"]].reset_index(drop=1)

                          company_name    security
0   CO-OPERATIVE INSURANCE COMPANY PLC  COOP.N0000
1           WATAWALA  PLANTATIONS  PLC  WATA.N0000
2                     VALLIBEL ONE PLC  VONE.N0000
3            UNION BANK OF COLOMBO PLC   UBC.N0000
4                     KELANI TYRES PLC  TYRE.N0000
5                     TEEJAY LANKA PLC   TJL.N0000
6                      LANKA TILES PLC  TILE.N0000
7                SRI LANKA TELECOM PLC  SLTL.N0000
8                  SERENDIB HOTELS PLC  SHOT.N0000
9                     SAMPATH BANK PLC  SAMP.N0000
10            ROYAL CERAMICS LANKA PLC   RCL.N0000
11               SWISSTEK (CEYLON) PLC  PARQ.N0000
12    PAN ASIA BANKING CORPORATION PLC  PABC.N0000
13       NATIONAL DEVELOPMENT BANK PLC   NDB.N0000
14                  HAYLEYS FABRIC PLC   MGT.N0000
15                      MELSTACORP PLC  MELS.N0000
16                  LANKA WALLTILE PLC   LWL.N0000
17                L O L C HOLDINGS PLC  LOLC.N0000
18                    LOLC FINANCE PLC  LOFC.N0000
19                       LANKA IOC PLC  LIOC.N0000
20            KOTAGALA PLANTATIONS PLC  KOTA.N0000
21                   KELANI CABLES PLC  KCAB.N0000
22            JOHN KEELLS HOLDINGS PLC   JKH.N0000
23            HATTON NATIONAL BANK PLC   HNB.N0000
24         GALADARI HOTELS (LANKA) PLC  GHLL.N0000
25             DANKOTUWA PORCELAIN PLC   DPL.N0000
26                 DIPPED PRODUCTS PLC  DIPD.N0000
27                   DIALOG AXIATA PLC  DIAL.N0000
28                       DFCC BANK PLC  DFCC.N0000
29       COMMERCIAL BANK OF CEYLON PLC  COMB.N0000
30                  C I C HOLDINGS PLC   CIC.N0000
31              BROWNS INVESTMENTS PLC   BIL.N0000
32                          ALUMEX PLC  ALUM.N0000
33                      ACL CABLES PLC   ACL.N0000

In [52]:
query1 = """SELECT *
from data.reversals
limit 1
"""
query2 = """
SELECT column_name
FROM information_schema.columns
WHERE table_schema = 'data' AND table_name = 'reversals';
"""

columns = connect(query2)
rows = connect(query1)

In [53]:
columns

[('id',), ('matrix1',), ('matrix2',), ('stock',), ('point',), ('trend',)]